<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${user.username}"></title>
    <link media="all" rel="stylesheet" th:href="@{/style.css}" type="text/css">
</head>
<body>
<header style="text-align: center">
    <a href="/">Главная</a>
    <a href="/users">Список пользователей</a>
    <hr>
</header>
<div class="center">
    <h2>Профиль пользователя:</h2>
    <h3 th:text="'Имя: ' + ${user.username}"></h3>
    <h3 th:text="'Фамилия: ' + ${user.password}"></h3>
    <h3 th:text="'id: ' + ${user.id}"></h3>

    <div>
        <form th:action="@{/users/{id}/edit(id=${user.id})}" th:object="${user}">
            <input type="submit" value="Редактировать">
        </form>
        <p></p>
        <form th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" th:method="delete">
            <input type="submit" value="Удалить">
        </form>
    </div>
</div>
</body>
</html>
